#items{
    display:flex;
    gap:10px;
    justify-content:center;
}

.players{
    display:flex;
    flex-wrap:nowrap;
    gap:46px;
}

#description-input {
    height: 150px;
}

.role {
    border: 2px crimson solid;
    color: crimson;
}

.role-all {
    border: 4px grey solid;
    color: cadetblue;
}

.role, .role-all {
   
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: large;
    text-align: center
}

.speed-stat:hover {
    background-color: rgb(92, 71, 75);
}

.division {
    border: 3px lightgreen solid;
    color: lightgreen;
}

.division-all {
    border: 4px grey solid;
    color: cadetblue;
}

.division, .division-all {
    
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: large;
    text-align: center
}

.endurance-stat:hover {
    background-color: rgb(121, 143, 129);
}


.player-image {
    transition: transform 0.3s ease 0s;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.player-details-img {
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content 
{
    margin-top:10px;
    border-top: 1px solid #e2e7ea;
    padding: 0 0 30px 0;
}



/*.player-image:hover {
    z-index: 1;
    transform: scale(2);
}*/

.player:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#edit-btn {
    background-color: #DF691A;
    color:black;
    float:left;
}

#edit-btn:hover,#delete-btn:hover,#details-btn:hover {
    color: wheat;
}

#delete-btn {
    background-color: red;
    color: black;
    float: right;
}

#details-btn {
    background-color: green;
    color: black;
}

#admin-btns{
    display:flex;
    gap:55px;
}

#gap{
    display:flex;
    gap:240px;
}

body {
    font-weight: 400;
    color: #666f74;
    text-align: left;
    animation: fade-in .3s linear;
    background-color: #f8f9fb;
}

main {
    background-color: white;
    padding: 5px 40px 40px 60px;
}